/*------------------Navigation Anfang--------*/

h1 {                                                        /*"Hannah Scheuringer"*/
    font-size: 20pt;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 200;                                       /*Schriftstärke*/
    padding-left: 80px;                                     /*Abstand zum linken Bildschirmrand*/
}

h2 {                                                        /*"Arbeiten, Über mich, Kontakt*/
    display: inline;                                        /*Text steht nebeneinander*/
    font-size: 15pt;
    padding: 20px;                                         /*Abstand zwischen Text*/
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 50;                                       /*Schriftstärke*/

}

#Navigation {                                  /*ganze Navigation ist rechtsbündig, Hannah Scheuringer wird unter #nav mit padding-left nach links geschoben*/
    top: 0px;
    text-align: right;
    display: flex;                            /*Navigation in einer Linie*/
    align-items: baseline;
    position: fixed;                           /*fixierter Navigationsbalken*/
    width: 100%;                                /*Balken geht über ganze Bildschirmbreite*/                        
    background-color:white;                 /*Farbe des Balkens*/
}

#nav {
    padding-left: 890px;                       /*Hannah Scheuringer steht am linken Rand*/
}

a {                                             /*Links zu Navigations-Unterseiten */                                        
    text-decoration: none;
    color: black;
}

a:hover {                                   /*beim hovern über Navigation ändert sich Farbe*/
    color: tan;
}

/*----------------------Ende Navigation------------------*/
h3 {
    font-size: 40pt;
    font-family: franklin-gothic-urw, sans-serif;
    padding-left:71px;
    padding-top: 250px;
    padding-bottom: 0px;
    width: 60%;
    font-weight: 200;
}


/*----------------------Anfang Bilder---------------------*/

#Piktogramme {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#Piktogramme:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}


#Biedermann {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#Biedermann:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}


#Businesscards {                   /*Greyscale Effekt*/
    width: 500px;
    height: 372px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#Businesscards:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

#PLF {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#PLF:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

#dino1 {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#dino1:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

#banane1 {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#banane1:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

#Fraktur {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

#Fraktur:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

#Tarot {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#Tarot:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

#Hannah_Scheuringer_Logo {                   /*Greyscale Effekt*/
    width: 500px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#Hannah_Scheuringer_Logo:hover {             /*Beim Hovern wird Greyscale Effekt deaktiviert, Bild ist bunt*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}


#Bilder {                                        /* Bilder-Grid*/
    Display: flex;
    Flex-direction: row;                         /* Bilder sind nebeneinander, column wäre untereinander */
    Flex-wrap: wrap;                             /* was passiert wenn Fenster kleiner wird? Wrap = untereinander */
    Justify-content: center;                     /* Bilder sind zentriert*/
    gap: 10px 10px;                           /*—————> abstand zwischen zwei Elementen (untereinander und nebeneinander)*/
    padding-top: 100px;
    padding-left:40px;                          /*Abstände zum Bildschirmrand*/
    padding-right:40px;
}

/*----------------------Ende Bilder---------------------*/
/* -----------------Anfang Bildschirm-Anpassung-------------------*/
    
@media (max-width: 1200px) {                       /* wenn Bildschirm weniger als 1200px groß ist soll sich Navigation auf rechtsbündig ändern*/

    h1 {                                         
        text-align: left;                          /*Hannah Scheuringer ist linksbündig*/
        padding-left: 50px;
    }
    
    #Navigation {
        text-align: left;
        font-size: 8pt;                             /*funktioniert nicht*/
        padding-left: 0px;
            
    }
        
    #nav{
        display:block;
        padding-left: 40px;
        text-align: left;
        font-size: 8pt;
        line-height: 250%;                          /*Zeilenabstand vergrößern*/
        }
    
    h2{
        padding: 11px;                              /*Abstand zwischen Text*/
    }

    #Bilder {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 200px;
    }

    #Piktogramme {
        Width: 100%;
        }
    
    #Biedermann {
        Width: 100%;
    }
    
    #Businesscards {
        Width: 100%;
    }
    
    #PLF {
        Width: 100%;
    }
    
    #dino1 {
        Width: 100%;
    }
    
    #banane1 {
        Width: 100%;
    }

    #Fraktur {
    Width: 100%;
    }  
    
    #Tarot {
    Width: 100%;
    } 

    #Hannah_Scheuringer_Logo {
        width: 100%;
    }
    
    h3 {
        width: 70%;
    }
    
}

/* -----------------Ende Bildschirm-Anpassung-------------------*/




